body {
    overflow: hidden;
    background-color: rgba(222,184,135, 0.7);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    border: 0;
    background: none;
}
button:focus {
    border: none;
}
button:active {
    border: none;
}
label {
    color: white;
}
input {
    width: 300px;
    height: 20px;
    border: 0;
    border-radius: 5px;
}
input:focus {
    outline: 2px solid grey;
}
*::-webkit-scrollbar {
    display: none;
}

.shelf {
    overflow: auto;    
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    border: 20px solid  rgb(222,184,135);
    height: 95.8vh;
}

.panel {
    top: 0;
    position: sticky;
    grid-column: 5;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    height: 95.9vh;
    background-color: rgba(139,69,19, 0.50);
}

.library {
    height: 100rem;
    width: 93rem;
    display: grid;
    margin: 10px;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-row: 1;
    grid-column: span 4;
}


.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    gap: 15px;
    border: 10px solid rgba(139,69,19, 0.50);
}

.book * {
    margin-top: 30px;
}


#add {
    margin-top: 10px;
    width: 60%;
    height: 25%;
}
#add:hover {
    scale: 1.05;
}
#add:active { 
    scale: 1.1;
}

#bookForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    text-align: center;
    font-size: 30px;
}

#read {
    width: auto;
    outline: none;
    scale: 1.5;
}
#addButton {
    background: rgb(222,184,135);
    color: white;
    font-size: 30px;
    border-radius: 5px;
    width: 70px;
    margin: auto;
}

#addButton:active {
    scale: 1.1;
}
#addButton:hover {
    border: .5px solid white;
}

input:invalid {
    border: 1px solid red;
}
input:valid {
    border: 1px solid green;
}

@media all and (max-width:400px) {
    .shelf {
        border: 10px solid  rgb(222,184,135);
        height: 98vh;
    }
    .panel {
        margin: 0;
        height: 30%;
    }
    #add {
        height: 25%;
        width: 25%;
    }

    input {
        width: 100px;
        height: 10px;
    }
    label {
        font-size: 19px;
    }
    .newBook {
        padding: 10px;
        border: 0;
        border-radius: 0;
    }
    .bookForm {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}